

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>

		<servlet-name>Create</servlet-name>
		<servlet-class>com.ty.web.CreateItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	
	
	<servlet-name>Create</servlet-name>
	<url-pattern>/create</url-pattern>
	</servlet-mapping>
	
	<servlet>

		<servlet-name>Display</servlet-name>
		<servlet-class>com.ty.web.GetItemsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	
	
	<servlet-name>Display</servlet-name>
	<url-pattern>/display</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Delete</servlet-name>
		<servlet-class>com.ty.web.DeleteItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	
	
	<servlet-name>Delete</servlet-name>
	<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Edit</servlet-name>
		<servlet-class>com.ty.web.EditItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	
	
	<servlet-name>Edit</servlet-name>
	<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Item</servlet-name>
		<servlet-class>com.ty.web.GetItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	
	
	<servlet-name>Item</servlet-name>
	<url-pattern>/getitem</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Items</servlet-name>
		<servlet-class>com.ty.web.GetItemsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	
	
	<servlet-name>Items</servlet-name>
	<url-pattern>/getall</url-pattern>
	</servlet-mapping>
	
	<servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>com.ty.web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>Logout</servlet-name>
   <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Signin</servlet-name>
  <servlet-class>com.ty.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>Signin</servlet-name>
   <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
	
</web-app>
